body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.board-row:nth-child(3) .square {
    border-top: 3px solid #000000;
}

.board-row:nth-child(4) .square {
    border-top: 3px solid #000000;
}

.square:nth-child(1) {
    border-right: 3px solid #000000;
}

.square:nth-child(2) {
    border-right: 3px solid #000000;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game-board {
    position: absolute;
    top: 80px;
}

#chat-body {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
}

.send-btn {
    cursor: pointer;
}

.message {
    padding-bottom: 10px;
}

.message.text-left {
    direction: ltr;
}

.active-label {
    border-bottom: 3px solid green;
}

.message > div:not(.system-message) {
    font-size: 14px;
    text-align: left;
    max-width: 70%;
    display: block;
}

.system-message {
    font-size: 10px!important;
    font-weight: 600;
    color: black;
    letter-spacing: 2px;
}

.notVisible svg {
    visibility: hidden;
}

.error-leave {
    opacity: 1;
}

.error-leave.error-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.finish-window {
    position: absolute;
    z-index: 1000;
    width: 92%;
    height: 358px;
    cursor: pointer;
    top: 122px;
}

.finish-window-background,
.finish-window-text {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 30%;
}

.finish-window-background {
    background-color: white;
    opacity: 0.9;
}

.finish-text > div {
    color: green;
    font-weight: bold;
}

div.result-fail {
    color: red;
}

.winnerLine {
    position: absolute;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
    opacity: 0.5;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}